@media screen and (max-width: 767px) {
    /*    zmienmy style dla progu w ktorym zmienia je bootstrap*/
    /*    menu kolor bialy*/
    .navbar-default {
        background-color: #f7f7f7;
    }
    /*    teksty na niebiesko*/
    #brand,
    .navbar-default .navbar-nav>li>a {
        color: #0ed8d6;
    }
    /*    pozycje po rozinieciu przylgniete do prawej*/
    .navbar-collapse {
        text-align: right;
    }
    /*    kreski w icon barze na niebiesko*/
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #0ed8d6;
    }
    /*    reverse koloru na focus*/
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: #0ed8d6;
    }
    .navbar-default .navbar-toggle:focus .icon-bar,
    .navbar-default .navbar-toggle:hover .icon-bar {
        background-color: #f7f7f7;
    }
    /*    dla sekcji team, doloz marines u góry zeby je troche odsunac*/
    #team figure {
        margin-top: 20px;
    }
}


/*zeby nam nie wychodziło spoza kontenera - mozna tez sie pobawic wysokosciami czcionek ?*/

@media (orientation:portrait) and (max-height: 570px) {
    #contact {
        height: 120vh;
        padding: 0px;
    }
    #contact .row:first-child {
        margin-bottom: 0px;
    }
}

@media screen and (max-height: 450px) {
    #contact {
        padding: 10px;
        height: 110vh;
    }
}

@media screen and (max-height: 370px) {
    #contact {
        padding: 0px;
        height: 120vh;
    }
}

